{% extends 'base.html' %}
{% block title %} Formulario de Captación {% endblock %}

{% block content %}
<section class="get-in-touch container">
    <h1 class="title">Solicitud de incorporación de Figuras Educativas</h1>
    <p>El proceso de captación de aspirantes a Líder para la Educación Comunitaria es un trámite gratuito</p>
    <form class="contact-form row" action="llenar_convocatoria" method="post" enctype="multipart/form-data">
        <div class="form-field col-lg-12">
            <label for="curp" class="etiqueta-formulario">CURP*:</label>
            <input name="curp" id="curp" class="input-text js-input" type="text" required>
        </div>
        <div class="form-field col-lg-12 ">
            <label class="etiqueta-formulario" for="nombre">Nombre(s)*:</label>
            <input name="nombre" id="nombre" class="input-text js-input" type="text" required>
        </div>
        <div class="form-field col-lg-6 ">
            <label class="etiqueta-formulario" for="apellido1">Primer apellido*:</label>
            <input name="apellido1" id="apellido1" class="input-text js-input" type="text" required>
        </div>
        <div class="form-field col-lg-6 ">
            <label class="etiqueta-formulario" for="apellido2">Segundo apellido</label>
            <input name="apellido2" id="apellido2" class="input-text js-input" type="text">
        </div>
        <div class="form-field col-lg-4">
            <select name="estado_republica" id="estado_republica" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione un estado</option>
                    <option value="Aguascalientes">Aguascalientes</option>
                    <option value="Baja California">Baja California</option>
                    <option value="Baja California Sur">Baja California Sur</option>
                    <option value="Campeche">Campeche</option>
                    <option value="Chiapas">Chiapas</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Ciudad de México">Ciudad de México</option>
                    <option value="Coahuila">Coahuila</option>
                    <option value="Colima">Colima</option>
                    <option value="Durango">Durango</option>
                    <option value="Estado de México">Estado de México</option>
                    <option value="Guanajuato">Guanajuato</option>
                    <option value="Guerrero">Guerrero</option>
                    <option value="Hidalgo">Hidalgo</option>
                    <option value="Jalisco">Jalisco</option>
                    <option value="Michoacán">Michoacán</option>
                    <option value="Morelos">Morelos</option>
                    <option value="Nayarit">Nayarit</option>
                    <option value="Nuevo León">Nuevo León</option>
                    <option value="Oaxaca">Oaxaca</option>
                    <option value="Puebla">Puebla</option>
                    <option value="Querétaro">Querétaro</option>
                    <option value="Quintana Roo">Quintana Roo</option>
                    <option value="San Luis Potosí">San Luis Potosí</option>
                    <option value="Sinaloa">Sinaloa</option>
                    <option value="Sonora">Sonora</option>
                    <option value="Tabasco">Tabasco</option>
                    <option value="Tamaulipas">Tamaulipas</option>
                    <option value="Tlaxcala">Tlaxcala</option>
                    <option value="Veracruz">Veracruz</option>
                    <option value="Yucatán ">Yucatán </option>
                    <option value="Zacatecas">Zacatecas</option>
            </select>
            <label class="label" for="estado_republica">Estado*:</label>
        </div>
        <div class="form-field col-lg-4 ">
            <label class="etiqueta-formulario" for="delegacion_municipio">Delegación/Municipio*</label>
            <input name="delegacion_municipio" id="delegacion_municipio" class="input-text js-input" type="text" required>
        </div>
        <div class="form-field col-lg-4 ">
            <label class="etiqueta-formulario" for="colonia">Colonia*</label>
            <input name="colonia" id="colonia" class="input-text js-input" type="text" required>
        </div>
        <div class="form-field col-lg-6 ">
            <label class="etiqueta-formulario" for="direccion">Dirección*</label>
            <input name="direccion" id="direccion" class="input-text js-input" type="text" required>
        </div>
        <div class="form-field col-lg-2 ">
            <label class="etiqueta-formulario" for="num_exterior">Núm. Exterior*</label>
            <input name="num_exterior" id="num_exterior" class="input-text js-input" type="text" required>
        </div>
        <div class="form-field col-lg-2 ">
            <label class="etiqueta-formulario" for="num_interior">Núm. Interior</label>
            <input name="num_interior" id="num_interior" class="input-text js-input" type="text">
        </div>
        <div class="form-field col-lg-2 ">
            <label class="etiqueta-formulario" for="codigo_postal">Código Postal*</label>
            <input name="codigo_postal" id="codigo_postal" class="input-text js-input" type="number" required>
        </div>
        <div class="form-field col-lg-4">
            <input name="fecha_nacimiento" id="fecha_nacimiento" class="input-text js-input" type="date" required>
            <label class="label" for="fecha_nacimiento">Fecha de nacimiento*:</label>
        </div>
        <div class="form-field col-lg-4">
            <select name="genero" id="genero" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
            <label class="label" for="genero">Género*:</label>
        </div>
        <div class="form-field col-lg-4">
            <select name="nacionalidad" id="nacionalidad" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="mexicano">Mexicano</option>
                <option value="extranjero">Extranjero</option>
            </select>
            <label class="label" for="nacionalidad">Nacionalidad*:</label>
        </div>
        <div class="form-field col-lg-4">
            <select name="playera" id="playera" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="c">Chico</option>
                <option value="m">Mediano</option>
                <option value="g">Grande</option>
                <option value="xg">Extra Grande</option>
            </select>
            <label class="label" for="playera">Talla de Playera*:</label>
        </div>
        <div class="form-field col-lg-4">
            <select name="pantalon" id="pantalon" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="c">Chico</option>
                <option value="m">Mediano</option>
                <option value="g">Grande</option>
                <option value="xg">Extra Grande</option>
            </select>
            <label class="label" for="pantalon">Talla de Pantalón*:</label>
        </div>
        <div class="form-field col-lg-4">
            <select name="calzado" id="calzado" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="20">20</option>
                <option value="20.5">20.5</option>
                <option value="21">21</option>
                <option value="21.5">21.5</option>
                <option value="22">22</option>
                <option value="22.5">22.5</option>
                <option value="23">23</option>
                <option value="23.5">23.5</option>
                <option value="24">24</option>
                <option value="24.5">24.5</option>
                <option value="25">25</option>
                <option value="25.5">25.5</option>
                <option value="26">26</option>
                <option value="26.5">26.5</option>
                <option value="27">27</option>
                <option value="27.5">27.5</option>
                <option value="28">28</option>
                <option value="28.5">28.5</option>
                <option value="29">29</option>
                <option value="29.5">29.5</option>
                <option value="30">30</option>
            </select>
            <label class="label" for="calzado">Talla de Calzado*:</label>
        </div>
        <div class="form-field col-lg-4">
            <select name="banco" id="banco" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="ABC Capital">ABC Capital</option>
                <option value="Banca Afirme">Banca Afirme</option>
                <option value="Banca Mifel">Banca Mifel</option>
                <option value="Banco Actinver">Banco Actinver</option>
                <option value="Banco Azteca">Banco Azteca</option>
                <option value="Banco Bancrea">Banco Bancrea</option>
                <option value="Banco Base">Banco Base</option>
                <option value="Banco Bineo">Banco Bineo</option>
                <option value="Banco Compartamos">Banco Compartamos</option>
                <option value="Banco Covalto">Banco Covalto</option>
                <option value="Banco Credit Suisse (México)">Banco Credit Suisse (México)</option>
                <option value="Banco de Inversión Afirme">Banco de Inversión Afirme</option>
                <option value="Banco del Bajío">Banco del Bajío</option>
                <option value="Banco Forjadores">Banco Forjadores</option>
                <option value="Banco Inbursa">Banco Inbursa</option>
                <option value="Banco Inmobiliario Mexicano">Banco Inmobiliario Mexicano</option>
                <option value="Banco Invex">Banco Invex</option>
                <option value="Banco JP Morgan">Banco JP Morgan</option>
                <option value="Banco KEB Hana México">Banco KEB Hana México</option>
                <option value="Banco Monex">Banco Monex</option>
                <option value="Banco Multiva">Banco Multiva</option>
                <option value="Banco PagaTodo">Banco PagaTodo</option>
                <option value="Banco Regional de Monterrey">Banco Regional de Monterrey</option>
                <option value="Banco S3 Caceis México">Banco S3 Caceis México</option>
                <option value="Banco Sabadell">Banco Sabadell</option>
                <option value="Banco Santander">Banco Santander</option>
                <option value="Banco Shinhan de México">Banco Shinhan de México</option>
                <option value="Banco Ve por Más">Banco Ve por Más</option>
                <option value="BanCoppel">BanCoppel</option>
                <option value="Bank of America Mexico">Bank of America Mexico</option>
                <option value="Bank of China Mexico">Bank of China Mexico</option>
                <option value="Bankaool">Bankaool</option>
                <option value="Banorte">Banorte</option>
                <option value="Bansí">Bansí</option>
                <option value="Barclays Bank México">Barclays Bank México</option>
                <option value="BBVA México">BBVA México</option>
                <option value="BNP Paribas">BNP Paribas</option>
                <option value="CBM Banco">CBM Banco</option>
                <option value="CIBanco">CIBanco</option>
                <option value="Citibanamex">Citibanamex</option>
                <option value="Consubanco">Consubanco</option>
                <option value="Fundación Dondé Banco">Fundación Dondé Banco</option>
                <option value="HSBC México">HSBC México</option>
                <option value="Industrial and Commercial Bank of China">Industrial and Commercial Bank of China</option>
                <option value="Kapital Bank">Kapital Bank</option>
                <option value="Intercam Banco">Intercam Banco</option>
                <option value="Mizuho Bank">Mizuho Bank</option>
                <option value="MUFG Bank Mexico">MUFG Bank Mexico</option>
                <option value="Openbank">Openbank</option>
                <option value="Revolut">Revolut</option>
                <option value="Scotiabank">Scotiabank</option>
            </select>
            <label class="label" for="banco">Banco*:</label>
        </div>
        <div class="form-field col-lg-4 ">
            <label class="etiqueta-formulario" for="cuenta_bancaria">Cuenta bancaria (sólo en caso de bancomer)</label>
            <input name="cuenta_bancaria" id="cuenta_bancaria" class="input-text js-input" type="text">
        </div>
        <div class="form-field col-lg-4 ">
            <label class="etiqueta-formulario" for="CLABE">CLABE (Banco diferente a Bancomer)</label>
            <input name="clabe" id="clabe" class="input-text js-input" type="text">
        </div>
        <div class="form-check col-lg-12">
            <input name="lengua" class="form-check-input" type="checkbox" value="true" id="lengua">
            <label class="form-check-label" for="lengua">
                ¿Habla alguna lengua indígena?
            </label>
        </div>
        <div class="form-field col-lg-4 ">
            <label class="etiqueta-formulario" for="email">Correo electrónico*:</label>
            <input name="email" id="email" class="input-text js-input" type="email" required>
        </div>
        <div class="form-field col-lg-4 ">
            <label class="etiqueta-formulario" for="telefono_fijo">Teléfono Fijo (10 dígitos):</label>
            <input name="telefono_fijo" id="telefono_fijo" class="input-text js-input" type="text">
        </div>
        <div class="form-field col-lg-4 ">
            <label class="etiqueta-formulario" for="telefono_movil">Teléfono Movil (10 dígitos):</label>
            <input name="telefono_movil" id="telefono_movil" class="input-text js-input" type="text">
        </div>
        <div class="form-field col-lg-4">
            <select name="nivel_educativo" id="nivel_educativo" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="primaria">Educación Primaria</option>
                <option value="secundaria">Educación Postprimaria / Secundaria</option>
                <option value="medio superior">Educación Media superior</option>
                <option value="superior">Educación Superior</option>
            </select>
            <label class="label" for="nivel_educativo">Nivel Educativo*:</label>
        </div>
        <div class="form-field col-lg-4">
            <select name="situacion_educativa" id="situacion_educativa" class="js-input" required>
                <option value="" disabled selected hidden>Seleccione una opción</option>
                <option value="concluida">Concluida</option>
                <option value="cursando">Cursando</option>
                <option value="trunca">Trunca</option>
            </select>
            <label class="label" for="situacion_educativa">Situación Educativa*:</label>
        </div>
        
        <div class="mb-3">
            <label for="documentos-necesarios" class="form-label">Documentos necesarios: Acta de nacimiento, certificado de último grado de estudios (Ingresar todos los documentos en un solo archivo .pdf)</label>
            <input class="form-control" type="file" id="documentos_necesarios" name="documentos_necesarios" accept=".pdf" required>
          </div>

        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Subir">
        </div>
    </form>
</section>
{% endblock %}