{% extends 'base.html' %}
{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<section class="login container d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="title text-center">Inicio de Sesión</h1>
    <form class="login-form row w-100" action="auth" method="post" style="max-width: 400px;">
        <div class="form-field col-lg-12 mb-3">
            <input name="registro_id" id="registro_id" class="form-control input-text js-input" type="text" required>
            <label class="label" for="registro_id">Usuario:</label>
        </div>
        <div class="form-field col-lg-12 mb-3">
            <input name="curp" id="curp" class="form-control input-text js-input" type="password" required>
            <label class="label" for="curp">Contraseña:</label>
        </div>
        <div class="form-field col-lg-12 text-center">
            <input class="btn btn-primary submit-btn" type="submit" value="Iniciar Sesión">
        </div>
    </form>
</section>
{% endblock %}