{% extends 'base.html' %}
{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<section class="login container">
    <h1 class="title">Inicio de Sesión</h1>
    <form class="login-form row" action="login" method="post">
        <div class="form-field col-lg-12">
            <input name="registro_id" id="registro_id" class="input-text js-input" type="text" required>
            <label class="label" for="registro_id">ID de Registro*:</label>
        </div>
        <div class="form-field col-lg-12">
            <input name="curp" id="curp" class="input-text js-input" type="text" required>
            <label class="label" for="curp">CURP*:</label>
        </div>
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Iniciar Sesión">
        </div>
    </form>
</section>
{% endblock %}