{% extends 'base.html' %}
{% block title %} Mapa {% endblock %}
{% block content %}
<main class="hero">
    <div class="container">
        <div class="row align-items-center">
            <h1>Mapa de CCT</h1>
            <div class="col-md-4">
                <p class="lead mb-4">
                    Este mapa permite visualizar la distribución geográfica de estos centros a lo largo del país. 
                    Cada punto en el mapa representa la ubicación de un CCT, y al hacer clic sobre ellos se accede 
                    a información detallada sobre cada centro, como el nombre del CCT, su dirección, región, municipio,
                    comunidad, entre otros.  
                    Esta visualización es útil para conocer la cobertura y el impacto de los CCT en diversas regiones, 
                    permitiendo encontrar centros cercanos.
                </p>
            </div>
            <div class="col-md-8">
                <div class="ratio ratio-16x9">
                    <iframe src="mapa_visualizado" title="Mapa de CCT" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}